# üéØ Objectif :
√Ä partir de la colonne plate, extraire automatiquement :
- Le code de r√©gion (**region_code**)
- Le nom de la r√©gion (**region_name**)
- Si la plaque est gouvernementale (**is_gov_plate**)
- Si la plaque donne un avantage routier (**has_road_advantage**)
- Le niveau d‚Äôimportance attribu√© √† la plaque (**gov_importance_level**)

In [3]:
import sys
sys.path.append("..")  # si ton notebook est dans notebooks/ et .py en racine

In [5]:
from supplemental_english import REGION_CODES, GOVERNMENT_CODES

In [7]:
try:
    from supplemental_english import REGION_CODES, GOVERNMENT_CODES
except ModuleNotFoundError:
    print("‚ö†Ô∏è Fichier non trouv√© ! V√©rifie que supplemental_english.py est dans le dossier du notebook.")

In [10]:
# Importation des libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

# Chargement des donn√©es
data_path = Path("C:/Users/Optimiste/Videos/Concours/Pr√©diction_prix_plaques_russes/data")
train = pd.read_csv(data_path / "train.csv")
test = pd.read_csv(data_path / "test.csv")
sample_submission = pd.read_csv(data_path / "sample_submission.csv")

# Aper√ßu
print(train.shape)
print(train.head())

(51635, 4)
   id      plate                 date   price
0   1  X059CP797  2024-12-26 00:00:00   65000
1   2  Y800MH790  2024-07-12 21:31:37  100000
2   3   A212TX77  2024-04-18 00:00:00  290000
3   4  P001AY199  2025-01-03 00:27:15  680000
4   5  P001AY199  2025-01-10 09:32:41  750000

In [12]:
from supplemental_english import REGION_CODES, GOVERNMENT_CODES
from features import enrich_dataset

train = enrich_dataset(train, REGION_CODES, GOVERNMENT_CODES)
train.head()

,id,plate,date,price,letters,digits,region_code,region_name,is_gov_plate,has_road_advantage,gov_importance_level
0,1,X059CP797,2024-12-26 00:00:00,65000,XCP,59,797,Moscow,0,0,0
1,2,Y800MH790,2024-07-12 21:31:37,100000,YMH,800,790,Moscow Oblast,0,0,0
2,3,A212TX77,2024-04-18 00:00:00,290000,ATX,212,77,Moscow,0,0,0
3,4,P001AY199,2025-01-03 00:27:15,680000,PAY,1,199,Moscow,0,0,0
4,5,P001AY199,2025-01-10 09:32:41,750000,PAY,1,199,Moscow,0,0,0

In [14]:
test = enrich_dataset(test, REGION_CODES, GOVERNMENT_CODES)
test.head()

,id,plate,date,price,letters,digits,region_code,region_name,is_gov_plate,has_road_advantage,gov_importance_level
0,51636,P700TT790,2025-01-27 00:00:00,NaN,PTT,700,790,Moscow Oblast,0,0,0
1,51637,M081TX797,2025-02-10 00:00:00,NaN,MTX,81,797,Moscow,0,0,0
2,51638,T333HX777,2025-02-11 00:00:00,NaN,THX,333,777,Moscow,0,0,0
3,51639,H744BH977,2025-02-03 00:00:00,NaN,HBH,744,977,Moscow,0,0,0
4,51640,X066EM777,2025-02-12 00:00:00,NaN,XEM,66,777,Moscow,0,0,0

In [17]:
# Sauvegarder la version enrichie du jeu d'entra√Ænement
train.to_csv("train_plate.csv", index=False)
test.to_csv("test_plate.csv", index=False)